:root {
    --colorFondoMenu: #F6A675;
    --colorFondoSubmenu: #75c6e0;
    --colorBordeSubmenu: #ffffff;
    --bordeLetraSubmenu: #BB62D4;
    --fondoClaro: #f09862;
    --fuenteLetra: Arial, Helvetica, sans-serif;
    --colorLetraNav: white;
    --colorLetra: white;
    --colorLetraHoverNav: #d286f5;
    --colorFondoPagina: #BB62D4;
    --colorActivoNav: #BB62D4;
    --colorBloqueIzq: #ee865e;
    --colorBloqueDer: #75c6e0;
    --colorBloqueInicio: #75c6e0;
    --colorBloqueEquipoInfo: #ca92ff;
    --colorBloqueEquipo: #ee865e;
    --colorBloqueEquipo2: #75c6e0;
}
/*
#80dbfa
#add8e6
*/

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteLetra);
}

/* Barra de navegación */

.menu ul {
    display: flex;
    background: var(--colorFondoMenu);
    justify-content: space-between; 
    align-items: center;
    height: 4rem;
    width: auto;
    padding: 0 0.7rem; 
}

.logo {
    padding: 0; 
}

.logo img {
    height: 4rem; 
    width: auto; 
}

.opcionMenu {
    padding: 6rem;
    list-style-type: none;
    position: relative; 
} 

.opcionMenu a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--colorLetraNav);
    transition: color 0.6s ease;
}

.opcionMenu a:hover {
    color: var(--colorLetraHoverNav);
    transition: color 0.6s ease;
}

#activoNav{
    color: var(--colorActivoNav);
}

/* Submenu */

.menu ul ul {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 60%;
    left: 25%;
    background: var(--colorFondoSubmenu);
    border-top: 2px solid var(--colorBordeSubmenu);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    height: auto;
    width: 50%;
    z-index: 1;
}

.opcionMenu:hover .submenu {
    visibility: visible;
    display: block;
}

.submenu li {
    padding: 0.5rem;
    list-style-type: none;
}

.submenu li a {
    color: var(--colorLetraNav);
    text-decoration: none;
    display: block; 
    transition: color 0.6s ease;
}

.submenu li a:hover {
    color: var(--colorLetraHoverNav);
}

#activo{
    color: var(--colorActivoNav);
}

/* Página */

body {
    background-image: url(../img/fondo.png);
}

.negritaCentrado {
    font-weight: bold;
    text-align: center; 
}

.negrita {
    font-weight: bold;
}

.contenido {
    display: flex;
    margin: 20px;
}

.contenido2 {
    margin: 20px;
}


.parrafo {
    color: var(--colorLetra);
    line-height: 1.5; 
}

/* INICIO */

.titulo, .subtitulo {
    text-align: center; 
    margin: 20px auto;     
    color: var(--colorLetra);
}

.titulo {
    font-weight: bold;    
}

#imagenesInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartel{
    width: 55rem;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: aparecerDesdeAbajo 1s ease-out forwards;

}

.flecha{
    height: 2.5rem;
    width: 6rem;
    animation: aparecerDesdeAbajo2 1s ease-out forwards;
}

.textoInicio {
    color: var(--colorLetra);
    margin: 2rem;  
    text-align: justify;
    animation: aparecerDesdeAbajo 1s ease-out forwards;
}

.divInicio {
    padding: 20px;
    background-color: var(--colorBloqueInicio);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    animation: aparecerDesdeAbajo 0.9s ease-out forwards;
}

/* HISTORIA */

#titulo2 {
    font-weight: bold; 
    color: var(--colorLetra);
    margin-bottom: 4px;
}

.historiaIzquierdo {
    flex: 2.3;
    padding: 20px;
    background-color: var(--colorBloqueIzq);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px; 
    text-align: justify;
    animation: aparecerDesdeAbajo3 1.2s ease-out forwards;
}

.historiaDerecho {
    flex: 0.7;
    padding: 20px;
    background-color: var(--colorBloqueDer);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    text-align: justify;
    animation: aparecerDesdeAbajo3 1.2s ease-out forwards;
}

.historiaDerecho img {
    width: 60%;
    height: auto;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* TABLA HISTORIA */

.contenedorTabla {
    margin: 20px;
    margin-left: 70px;
}

.tablaHistoria {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    font-size: 1em;
    border-radius: 10px;
    overflow: hidden;
    animation: aparecerDesdeAbajo 1s ease-out forwards;
}

.tablaHistoria th {
    background-color: var(--fondoClaro);
    color: var(--colorLetra);
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid var(--colorBordeSubmenu);
    text-align: center;
}

.tablaHistoria td {
    background-color: var(--colorBloqueDer);
    color: var(--colorLetra);
    padding: 10px;
    border-bottom: 1px solid var(--colorBordeSubmenu);
}

.tablaHistoria tr:last-child td {
    border-bottom: none;
}

.tablaHistoria tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* EQUIPO */
.equipoInfo {
    padding: 35px;
    background-color: var(--colorBloqueEquipoInfo);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    animation: aparecerDesdeAbajo 1s ease-out forwards; 
    text-align: justify;
}
.equipo {
    flex: 1.5;
    padding: 35px;
    background-color: var(--colorBloqueEquipo);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-right: 20px;
    animation: aparecerDesdeAbajo3 1s ease-out forwards;
}

.equipo2 {
    flex: 1.5;
    padding: 35px;
    background-color: var(--colorBloqueEquipo2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 20px;
    animation: aparecerDesdeAbajo3 1s ease-out forwards;
    text-align: justify;
}

.imgEquipo {
    width: 40%;
    display: block;
    margin: 20px auto;
}

#titulo3 {
    color: var(--colorLetra);
    margin-bottom: 4px;
    text-align: center;
}

/* NOTICIAS */

.noticia {
    padding: 35px;
    background-color: var(--colorBloqueEquipoInfo);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    width: 100%;
    animation: aparecerDesdeAbajo 1.2s ease-out forwards; 
    text-align: justify;
}

.noticiaCont {
    display: flex;
    align-items: center;
}

.noticia img {
    width: 20%;
    margin-right: 20px;
    border-radius: 5px;
}

.noticiaDesc {
    color: var(--colorLetra);
    text-align: justify;
}




/* EVENTOS */






/* EDICIONES */







/* MÓVILES */

@media only screen and (max-width: 600px) {

    .menu ul {
        flex-direction: column;
        height: auto;
        text-align: center;

    }

    .menu ul ul {
        width: auto;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .opcionMenu {
        padding: 1rem;
    }

    .contenido {
        flex-direction: column;
        margin: 10px;
        align-items: center;
    }

    .contenido2 {
        flex-direction: column;
        margin: 10px;
        align-items: center;
    }

    .contenido div{

        margin: 10px;
    }

    .contenedorTabla, .tablaHistoria {
        height: 0.5px;
        visibility: hidden;
    }

    .parrafo {
        font-size: 16px;
    }

    .titulo, .subtitulo {
        font-size: 24px;
    }

    .cartel {
        width: 90%;
    }


    .flecha {
        width: 5rem;
    }

    .noticia img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .noticiaCont {
        flex-direction: column;
        align-items: center; 
    }


}


/* ANIMACIONES */
@keyframes aparecerDesdeAbajo {
    from {
        transform: translateY(120%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerDesdeAbajo2 {
    from {
        transform: translateY(900%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerDesdeAbajo3 {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
